@import url("../css/components/Navbar.css");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

.btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
}

:root {
  --color-primary: #f99f1f;
  --color-primary-dark: #f47427;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;

  --transition: all 400ms ease;
}

/*---navbar---*/

/*---hero---*/

.hero {
  top: 12rem;
}

.hero .row_with_image {
  display: flex;
  margin: 2rem 4rem;
}

.row_with_image .col-2 {
  background: var(--color-primary);
  margin: 4rem 0;
  padding: 4rem;
  color: var(--color-white);
  text-align: justify;
  z-index: 1;
}

.hero .row_with_text {
  display: flex;
  margin: 2rem 14rem;
}

.row_with_text .col-1 {
  flex: 1;
  padding: 1rem;
  color: var(--color-primary);
}

.row_with_text .col-2 {
  flex: 1;
  padding: 1rem;
  color: var(--color-black);
  text-align: justify;
}

.hero .partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .partners .title p {
  background: var(--color-primary-dark);
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-white);
}

/*---footer---*/

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 5rem 0;
  color: var(--color-white);
  justify-content: space-between;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer .footer_contact {
  margin: 4rem 0 0 0;
}

.footer .footer_contact p a {
  text-decoration: underline;
  color: var(--color-white);
  font-weight: 100;
}

/*RESPONSIVE*/

@media (max-width: 998px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 638px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 484px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 25%;
  }
}
