* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 1rem 3rem;
  margin: 3rem 0;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
}

:root {
  --color-primary: #f99f1f;
  --color-primary-dark: #f47427;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;

  --transition: all 400ms ease;
}

/*---navbar---*/

nav .nav_content {
  width: 100%;
  height: 12rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  z-index: 10;
}

nav .social {
  display: flex;
  height: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 3rem;
  align-items: center;
}

nav i {
  color: var(--color-primary);
  margin: 0 2rem;
}

nav .nav_content img {
  width: 35rem;
}

.nav_menu {
  display: flex;
  gap: 4rem;
  font-size: 20px;
}

.nav_menu li a {
  color: var(--color-primary);
}

/*---hero---*/

.max-width {
  max-width: 1600px;
  margin: auto;
  text-align: left;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero .small-container {
}

.small-container h3,
.small-container h1 {
  color: var(--color-primary);
  font-size: xx-large;
  font-weight: 600;
}

h1 {
  width: max-content;
  margin: 2rem 0;
}
.small-container h3 {
  font-size: 3rem;
}

.video-container {
  height: 50rem;
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/*---footer---*/

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 5rem 0;
  color: var(--color-white);
  justify-content: space-between;
}

.footer p {
  font-size: 20px;
  font-weight: 500;
}

.footer .footer_contact {
  margin: 4rem 0 0 0;
}

.footer .footer_contact p a {
  text-decoration: underline;
  color: var(--color-white);
  font-weight: 100;
}

/*---JAVASCRIPT---*/

/*---Sticky navbar---*/

.nav_content.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-white);
}
