@import url("../css/components/Navbar.css");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 1rem 3rem;
  margin: 3rem 0;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
}

:root {
  --color-primary: #f99f1f;
  --color-primary-dark: #f47427;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;

  --transition: all 400ms ease;
}

/*---navbar---*/

/*---hero---*/

.max-width {
  max-width: 1600px;
  margin: auto;
  text-align: left;
}

.hero {
  display: flex;
  flex-direction: column;
}

.small-container h3,
.small-container h1 {
  color: var(--color-primary);
  font-size: xx-large;
  font-weight: 600;
}

h1 {
  width: max-content;
  margin: 2rem 0;
}
.small-container h3 {
  font-size: 3rem;
}

.video-container {
  height: 50rem;
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.max-width .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  width: calc(50% - 30px);
}

.container .one img {
  height: 70rem;
}

.container .two h1 {
  color: var(--color-black);
}

/*---footer---*/

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 5rem 0;
  color: var(--color-white);
  justify-content: space-between;
}

.footer p {
  font-size: 20px;
  font-weight: 500;
}

.footer .footer_contact {
  margin: 4rem 0 0 0;
}

.footer .footer_contact p a {
  text-decoration: underline;
  color: var(--color-white);
  font-weight: 100;
}
