@import url("../css/components/Navbar.css");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

.btn {
  padding: 1rem 3rem;
  margin: 3rem 0;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
}

:root {
  --color-primary: #f99f1f;
  --color-primary-dark: #f47427;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;
  --transition: all 400ms ease;
}

/*---navbar---*/

/*---hero---*/

.max-width {
  max-width: 100vw;
  margin: auto;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.small-container h3,
.small-container h1 {
  color: var(--color-primary);
  font-size: xx-large;
  font-weight: 600;
}

.max-width h1 {
  width: max-content;
  font-size: 2rem;
  margin: 2rem 0;
}

.small-container h3 {
  font-size: 3rem;
}

.small-container p {
  font-size: medium;
  text-align: left;
}

.max-width img {
  max-width: 70rem;
  object-fit: cover;
  background: #f47427;
}

.video-container {
  height: 50rem;
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/*---footer---*/

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 5rem 0;
  color: var(--color-white);
  justify-content: space-between;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer .footer_contact {
  margin: 4rem 0 0 0;
}

.footer .footer_contact p a {
  text-decoration: underline;
  color: var(--color-white);
  font-weight: 100;
}

/*RESPONSIVE*/

@media (max-width: 998px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 638px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 484px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 25%;
  }
}
