@import url("../css/components/Navbar.css");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
}

:root {
  --color-primary: #f99f1f;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;

  --transition: all 400ms ease;
}

/*---navbar---*/

nav .nav_content {
  position: absolute;
  background: var(--color-transparent);
}

/*---hero---*/

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(38, 38, 38, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero_content {
  text-align: center;
}

.hero_content .sentence {
  margin: 5rem 0 0 0;
}

.hero_content .sentence h1 {
  font-size: 5rem;
  color: var(--color-white);
}

/*---subscribe---*/

.subscribe {
  text-align: center;
  padding: 6rem 0;
}

.subscribe h1 {
  font-size: 3rem;
  color: var(--color-primary);
}

.subscribe p {
  font-size: 1rem;
}

.subscribe p {
  padding: 2rem 0;
}

.subscribe input {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.12);
  margin: 0 1rem;
}

.subscribe .btn {
  background-color: var(--color-black);
  color: var(--color-white);
}

/*---footer---*/

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 5rem 0;
  color: var(--color-white);
  justify-content: space-between;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer .footer_contact {
  margin: 4rem 0 0 0;
}

.footer .footer_contact p a {
  text-decoration: underline;
  color: var(--color-white);
  font-weight: 100;
}
