@import url(../components/Navbar.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 1rem 3rem;
  margin: 3rem 0;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
}

:root {
  --color-primary: #f99f1f;
  --color-primary-dark: #f47427;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;

  --transition: all 400ms ease;
}

/*---navbar---*/

/*---hero---*/

.max-width {
  max-width: 100vw;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

.max-width h1 {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

.max-width p {
  color: var(--color-black);
  font-size: 1rem;
  margin: 2rem 0;
}

.top-card-container {
  width: 90vw;
  display: flex;
}

.top-card-container .top-card {
  background: #f47427;
  border-radius: 5rem;
  text-align: center;
}

.top-card-container .top-card img {
  width: calc(25% - 2rem);
  height: calc(100%);
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.slider-container {
  width: 100vw;
  padding: 0 4rem;
}

.card {
  width: calc(25% - 2rem);
  height: calc(35% - 2rem);
  margin: 3rem 0;
}

.slider-card {
  width: calc(25% - 2rem);
  height: calc(35% - 2rem);
  margin: 3rem 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.slider-card .slider-card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: var(--color-primary);
  color: var(--color-white);
  height: 40rem;
}

.slider-card-content .btn {
  width: max-content;
  background: var(--color-black);
  position: fixed;
  bottom: 0;
  margin: 1rem 1rem 5rem 1rem;
}

.slider-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card .card-content h4 {
  margin: 1rem 0;
}

.card .card-content img {
  width: calc(100%);
  height: 20rem;
  object-fit: cover;
}

.slider-card .slider-card-content img {
  width: calc(100%);
  height: 20rem;
  object-fit: cover;
}

.max-width h1 {
  width: max-content;
  font-size: 2rem;
  margin: 2rem 0;
}

.video-container {
  height: 50rem;
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.bottom-nav h2 {
  color: var(--color-black);
  font-weight: 500;
}

/*---footer---*/

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 5rem 0;
  color: var(--color-white);
  justify-content: space-between;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer .footer_contact {
  margin: 4rem 0 0 0;
}

.footer .footer_contact p a {
  text-decoration: underline;
  color: var(--color-white);
  font-weight: 100;
}

/*RESPONSIVE*/

@media (max-width: 998px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 638px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 484px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 25%;
  }
}
